pyrogram
tgcrypto
pytgcalls
motor
dnspython
yt-dlp
youtube-search-python
spotipy
ffmpeg-python
python-dotenv




# ==========================================
# 📝 CUSTOMIZABLE TEXT MESSAGES AND CAPTIONS USED THROUGHOUT THE BOT INTERFACE
# ==========================================
START_CAPTION="<blockquote><b>нєу ʙᴀʙʏ</b> {user}, 🥀</blockquote>\n<blockquote expandable><b>๏ ᴛʜɪs ɪs {bot} : ғᴀsᴛ & ᴘᴏᴡᴇʀғᴜʟ ᴛɢ ᴍᴜsɪᴄ ʙᴏᴛ.</b>\n<b>๏ sᴍᴏᴏᴛʜ ʙᴇᴀᴛs • sᴛᴀʙʟᴇ & sᴇᴀᴍʟᴇss ᴍᴜsɪᴄ ғʟᴏᴡ.</b>\n<b>๏ ɴᴇᴡ ᴠᴇʀsɪᴏɴ ᴡɪᴛʜ sᴜᴘᴇʀ ғᴀsᴛ ʏᴏᴜᴛᴜʙᴇ ᴀᴘɪ ʙᴀsᴇᴅ.</b>\n<b>•── ⋅ ⋅ ⋅ ────── ⋅  ⋅ ────── ⋅ ⋅ ⋅ ──•</b>\n<b>๏ ᴄʟɪᴄᴋ ᴏɴ ᴛʜᴇ ʜᴇʟᴩ ʙᴜᴛᴛᴏɴ ᴛᴏ ɢᴇᴛ ɪɴғᴏʀᴍᴀᴛɪᴏɴ ᴀʙᴏᴜᴛ ᴍʏ ᴍᴏᴅᴜʟᴇs ᴀɴᴅ ᴄᴏᴍᴍᴀɴᴅs.</b></blockquote>"
PLAY_CAPTION="<b>✨ ɴᴏᴡ ᴘʟᴀʏɪɴɢ</b>\n\n<b>🎵 ᴛɪᴛʟᴇ:</b> {title}\n<b>⏱ ᴅᴜʀᴀᴛɪᴏɴ:</b> {duration}\n<b>👤 ʀᴇǫᴜᴇsᴛᴇᴅ ʙʏ:</b> {user}"
PLAY_SEARCH="🔎 sᴇᴀʀᴄʜɪɴɢ..."
SUPPORT_CAPTION="{bot} sᴜᴘᴘᴏʀᴛ ɪɴғᴏʀᴍᴀᴛɪᴏɴ\n\n๏ ᴊᴏɪɴ ᴏᴜʀ sᴜᴘᴘᴏʀᴛ ɢʀᴏᴜᴘ ᴀɴᴅ ᴄʜᴀɴɴᴇʟ ғᴏʀ ᴀɴʏ ǫᴜᴇʀɪᴇs ᴏʀ ᴜᴘᴅᴀᴛᴇs."
REPO_CAPTION="{bot} sᴏᴜʀᴄᴇ ᴄᴏᴅᴇ\n\n๏ ʏᴏᴜ ᴄᴀɴ ɢᴇᴛ ᴛʜᴇ ʙᴏᴛ ʀᴇᴘᴏsɪᴛᴏʀʏ ɪɴғᴏʀᴍᴀᴛɪᴏɴ ʜᴇʀᴇ."

# ==========================================
# ✨ UNIQUE IDENTIFIERS FOR TELEGRAM PREMIUM MESSAGE EFFECTS AND ANIMATIONS
# ==========================================
EFFECT_IDS=5046509860389126442 5107584321108051014 5104841245755180586 5159385139981059251

# ==========================================
# 🖼️ DIRECT LINKS TO IMAGES AND VIDEOS USED FOR VARIOUS BOT RESPONSES AND PANELS
# ==========================================
START_URL=https://files.catbox.moe/ak96mx.jpg
HELP_URL=https://files.catbox.moe/ak96mx.jpg
PLAY_URL=https://telegra.ph/file/dcf3e302061019036c05d.jpg
SUPPORT_URL=https://files.catbox.moe/ak96mx.jpg
REPO_URL=https://telegra.ph/file/b1367262cdfbcd0b2af07.mp4
PING_URL=https://files.catbox.moe/ak96mx.jpg
PLAYLIST_URL=https://files.catbox.moe/lrwbj6.jpg
STATS_URL=https://files.catbox.moe/ak96mx.jpg
TELEGRAM_AUDIO_URL=https://files.catbox.moe/aesldg.jpg
TELEGRAM_VIDEO_URL=https://files.catbox.moe/aesldg.jpg
STREAM_URL=https://files.catbox.moe/aesldg.jpg
SOUNCLOUD_URL=https://files.catbox.moe/aesldg.jpg
YOUTUBE_URL=https://files.catbox.moe/aesldg.jpg
SPOTIFY_ARTIST_URL=https://files.catbox.moe/aesldg.jpg
SPOTIFY_ALBUM_URL=https://files.catbox.moe/aesldg.jpg
SPOTIFY_PLAYLIST_URL=https://files.catbox.moe/aesldg.jpg

# ==========================================
